In [1]:
#Connecting Pandas to a database

In [22]:
#to install: 

!pip install SQLAlchemy #exclamation mark allows to access command line key 
!pip install mysql-connector-python
!pip install requests-oauthlib
!pip install OAuth1

Requirement already satisfied: SQLAlchemy in /opt/anaconda3/lib/python3.9/site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.9/site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.19.4)
Collecting requests-oauthlib
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: requests>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests-oauthlib) (2.26.0)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests-oauthlib) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib) (2.0.4)
Installing collected packages: requests-oauthlib
Successfully installed requests-oauthlib-1.3.1
ERROR: Could not find a version that satisfies the requirement OAuth1 (from versions: none)
ERROR: No matching distribution found for OAuth1

In [41]:
import pandas as pd
import numpy as np
# you will need to import this -- pip install SQLAlchemy
from sqlalchemy import create_engine, types
# you will need to import this -- pip install mysql-connector-python
import mysql.connector
import requests
# you will need to install this  -- pip install requests-oauthlib - usefull if want to connect to APIs using Python
from requests_oauthlib import OAuth1

In [24]:
# we'll create a dictionary to store all of our database information
# All info needed to sign in to database 
df_dict = {
    'connector': 'mysql+mysqlconnector',  #knows what database you are connecting to 
    'username' : 'dat1019',
    'password' : 'dat1019password',
    'server'   : 'dat-10-19.cfvn8ddij95j.us-east-1.rds.amazonaws.com',
    'port'     : '3306',
    'database' : 'dat1019'
}

In [25]:
df_dict['connector']

'mysql+mysqlconnector'

In [26]:
# this string contains all the information - login credentials that sqlalchemy needs 
connection_string = f"{df_dict['connector']}://{df_dict['username']}:{df_dict['password']}@{df_dict['server']}:{df_dict['port']}/{df_dict['database']}"

In [27]:
connection_string

'mysql+mysqlconnector://dat1019:dat1019password@dat-10-19.cfvn8ddij95j.us-east-1.rds.amazonaws.com:3306/dat1019'

In [28]:
# this is what we need to connect to our database
engine = create_engine(connection_string)

In [29]:
# we'll now connect to the database and pull in the info
with engine.connect() as connection:
    tweets = pd.read_sql_query("SELECT * FROM tweets", con=connection) #replace "tweets" with own custom query

In [32]:
# let's look at our results - script that pulls from twitter API 
tweets.tail()

,name,screen_name,text,retweets,favorites,id
2594,Joe Biden,JoeBiden,To the people of Kentucky who have been devast...,534,3359,1471580901180063746
2595,Joe Biden,JoeBiden,"The shock of losing a home or business, the gr...",220,1293,1471632488166477831
2596,Joe Biden,JoeBiden,There aren't a lot of things that almost every...,1636,10061,1471966938821767171
2597,Joe Biden,JoeBiden,"RT @POTUS: In my first year in office, we’ve p...",3364,0,1471902859784556547
2598,Joe Biden,JoeBiden,Six months out from your second Pfizer or Mode...,2662,20339,1471848921374859269

In [31]:
# we will turn this column into a string -- useful for later processing
tweets['id'] = tweets.id.astype(str)

In [ ]:
#Getting API DAta

In [37]:
# authorization information for the Twitter API
tokens = OAuth1('NOZHm1aLT1AVmchGbCmiZOAga', 'nPyaYCt8L7ymqGZtU8EqC0a2ypI9aSJgVNIhtoZ0wGsaf3BJw9',
                '1079981876864008192-AlhO4yOa06oW2sXZpLpWPwnOxEERYS', 'o3E0AsKJfDoTBk77UQYExzOG7E46jPYvpWNGAKsD6lUBY')

In [38]:
# the api endpoint we'll ping to get our API results
base_url = 'https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=realDonaldTrump&count=200'

In [39]:
# this is our list of dictionaries that contains Donald Trump's tweets
tweet_results = requests.get(base_url, auth=tokens).json()

In [40]:
tweet_results

{'request': '/1.1/statuses/user_timeline.json', 'error': 'Not authorized.'}